name: Link Validator

permissions: {}

on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1'

jobs:
  validate-links:
    runs-on: ubuntu-22.04
    if: github.repository == 'apache/pekko-management'
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Setup Java 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Install sbt
        uses: sbt/setup-sbt@06192244f17880c9bf69ccd8de5b2e8785822be5 # v1.1.17

      - name: Cache Coursier cache
        uses: coursier/cache-action@e47d7d35a0d3a2c7f649ca5c63dfc2bbfaa002e7 # v8.0.1

      - name: Setup Coursier
        uses: coursier/setup-action@7acb5c9ea69bc1a1bb185ec45ebce2ac114f3628 # v2.0.3

      - name: Create the Pekko site
        run: sbt "unidoc; docs/paradox"

      - name: Run Link Validator
        run: cs launch net.runne::site-link-validator:0.2.5 -- scripts/link-validator.conf
